/* Container for the landing page */
.landing-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
  background: linear-gradient(135deg, #e4e1e1 0%, #666565 50%, #000000 100%);
  padding: 20px;
  overflow-y: auto;
  overflow-x: hidden;
  transition: background-color 0.3s ease-in-out; /* Smooth transition for color change */
  scroll-behavior: smooth;
}

/* Styling for the landing page title */
.landing-title {
  font-family: 'Poppins', sans-serif;
  font-size: 3rem;
  margin-bottom: 20px;
  z-index: 1;
  color: transparent; /* This makes the text color transparent, only showing the border */
  -webkit-text-stroke: 2px #3d3d3d; /* Adds a 2px border with a zinc color */
  text-align: center;
}

/* Styling for the landing page description */
.landing-description {
  font-family: 'Handjet', sans-serif;
  font-size: 1.5rem;
  margin-bottom: 40px;
  white-space: nowrap;
  overflow: hidden;
  border-right: 2px solid black;
  animation: blink-caret 0.75s step-end infinite;
  z-index: 1;
}

/* Button styling */
.get-started-btn {
  font-family: 'Protest+Guerilla', sans-serif;
  padding: 10px 20px;
  font-size: 1.2rem;
  background-color: #333;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  z-index: 1;
}

.get-started-btn:hover {
  background-color: #555;
}


/* Container for the cards */
.cards-container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Keeps cards vertically aligned */
  width: 100%;
  padding: 20px;
}

/* Individual card styling */
.card {
  width: 250px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
  border: 10px solid #71717a; /* Zinc color */
  border-radius: 30px; /* Optional: Adds rounded corners */
}

/* Hover effect for cards */
.card:hover {
  transform: scale(1.05);
}

/* Alternating card positions */
.card:nth-child(odd) {
  align-self: flex-start; /* Align to the left */
  margin-left: 0; /* Ensure it stays at the extreme left */
}

.card:nth-child(even) {
  align-self: flex-end; /* Align to the right */
  margin-right: 0; /* Ensure it stays at the extreme right */
}

/* Styling for the card media (image or video) */
.card-media {
  object-fit: cover;
  width: 100%;
  height: 140px;
}
