/* Container for the cards */
.cards-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 20px;
  }
  
  /* Cards.css */
.card {
  width: 250px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
  border: 20px solid #71717a; /* Zinc color */
  border-radius: 30px; /* Optional: Adds rounded corners */
}


  
/* Styling for the card media (image or video) */
.card-media {
    object-fit: cover;
    width: 100%;
    height: 200px; /* Adjust this height to suit your design */
}
  
/* Hover effect for cards */
.card:hover {
    transform: scale(1.05);
}
  